html {
    width: 100%;
    height: 100%;

    background-image:url(gradient.png),url(tile.png);
	background-size:100% 100%,auto;

    color: #f4d7f0;
    font-family:sans-serif;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: double;
    padding: px;
}

.bordered {
    border: double;
    padding: 5px;
}

.centre {
    margin: auto;
    display:block;
    text-align: center;
    width: 100%;
    padding: auto;
}

.window {
    max-width: 75%;
    margin-right: auto;;
    margin-left: 1%;

    color: #f4d7f0;
    /*background: #221D29;*/
    background: #333333;
}

.sidebar {
    max-width: 22%;
    margin-left: auto;
    margin-right: 1%;

    color: #f4d7f0;
    /*background: #221D29;*/
    background: #333333;
}