html {
    width: 100%;
    height: 100%;

    background-image:url(gradient.png),url(tile.png);
	background-size:100% 100%,auto;

    color: #f4d7f0;
    word-wrap: break-word;
    font-family:sans-serif;
}

body {
    max-width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.centre {
    margin: auto;
    display:block;
    text-align: center;
    width: 100%;
    padding: auto;
}

.heading {
    margin-top: 10px;
    margin-bottom: 10px;

    display:block;
    text-align: center;
    width: 100%;
}

.shadow {
    text-align: center;
    text-shadow: 0 0 10px #000000;
}

.fullimage {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.topbar {
    display: inline-block;
    width: 100%;
    height: 80px;
}

.split {
    display: inline-block;
    width: 100%;
    height: auto;
}

.mainbar {
    display: inline-block;
    width: 75%;
    height: 100%;
    margin-left: 0%;
    margin-right: 1%;
}

.sidebar {
    float: right;
    width: 24%;
    height: 100%;
}

.window {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 2.5%;
    padding-right: 2.5%;

    box-sizing: border-box;
    border-style: solid;
    border-color: #352E40;
    border-width: 1;

    background: #221D29;
}